<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IHelloWorld" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IWCFTcpServer">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://150.1.13.166/WCFTcpServer" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IWCFTcpServer" contract="ServerWCF.IWCFTcpServer"
                name="NetTcpBinding_IWCFTcpServer">
                <identity>
                    <userPrincipalName value="SGH750QBVC\Shinsung" />
                </identity>
            </endpoint>
            <endpoint address="http://150.1.13.166:1907/HelloService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IHelloWorld" contract="ServerWCF.IHelloWorld"
                name="BasicHttpBinding_IHelloWorld" />
        </client>
    </system.serviceModel>
</configuration>